<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="fadeev_prac.Properties.Settings.fadeev_pracConnectionString"
            connectionString="Data Source=CLS-RDS01\SQLEXPRESS;Initial Catalog=fadeev_prac;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>